*pyc
.DS_Store

.ipynb
vtkplotter_examples/other/__pycache__/
vtkplotter_examples/basic/__pycache__/
vtkplotter_examples/advanced/__pycache__/
vtkplotter_examples/pyplot/__pycache__/
vtkplotter_examples/simulations/__pycache__/
vtkplotter_examples/volumetric/__pycache__/

vtkplotter_examples/.ipynb_checkpoints/
vtkplotter_examples/notebooks/.ipynb_checkpoints/
vtkplotter_examples/basic/.ipynb_checkpoints/
vtkplotter_examples/advanced/.ipynb_checkpoints/
vtkplotter_examples/other/.ipynb_checkpoints/
vtkplotter_examples/pyplot/.ipynb_checkpoints/
vtkplotter_examples/simulations/.ipynb_checkpoints/
vtkplotter_examples/volumetric/.ipynb_checkpoints/
